* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    background-color:darkgray;    
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}

.center-text {
    font-size: 3.2vw;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    line-height: 1;
    white-space: nowrap;
    pointer-events: none;
    mix-blend-mode: difference;
}

.imagediv {
    position: absolute;
    width: 200px;
    height: 270px;
    overflow: hidden;
}
.imagediv img {
    transform: translateY(100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}